<html>
<head>
    <title>Deposits Monitor</title>
</head>
<body>
    <h1>Rune Deposits</h1>

    <div class="rune-deposit-list">
        {% for deposit in rune_deposits %}
        <div class="rune-deposit-item">
            <p>Block: {{ deposit.block_number }}</p>
            <p>Amount: {{ deposit.amount }}</p>
            <p>Sender: {{ deposit.sender }}</p>
            <p>Recipient: {{ deposit.recipient }}</p>
        </div>
        {% endfor %}
    </div>


    <table>
        <tr>
            <th>Block</th>
            <th>Amount</th>
            <th>Sender</th>
            <th>Recipient</th>
        </tr>
        {% for deposit in rune_deposits %}
        <tr>
            <td>{{ deposit.block_number }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Rune Token Deposits</h1>
    <table>
        <tr>
            <th>Block</th>
            <th>Amount</th>
            <th>Sender</th>
            <th>Recipient</th>
        </tr>
        {% for deposit in rune_token_deposits %}
        <tr>
            <td>{{ deposit.block_number }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
