db_data/
node_modules/

# Mostly copied from
# https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Editors
.vscode/
.idea/workspace.xml
.idea/tasks.xml
*.sublime-project
*.sublime-workspace

# Unit test / coverage reports
__pycache__/
htmlcov/
.tox
.nox/
.coverage
.coverage.*
.cache
*.cover
*.lcov
*.py,cover
.hypothesis/
.pytest_cache/
cover/
nosetests.xml
coverage
test
.ruff_cache/

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
dist/
sdist/
var/
wheels/
share/python-wheels/
*.egg
*.egg-info/
.installed.cfg
MANIFEST

# Random
*~
tmp/
Data.fs*
.*.sw?z
.sw?
.DS_Store
.flags
*.sqlite

# Environments
.env
env*/
.venv
.venv-path
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
