{% extends "templates/monitor/base.jinja2" %}
{% block content %}
    <h2>Runes</h2>
    <table class="table">
        <tr>
            <th>name</th>
            <th>num_deposits</th>
        </tr>
        {% for rune in runes %}
            <tr>
                <td>{{ rune.spaced_name }}</td>
                <td>{{ rune.deposits|length }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
