{% extends "monitor/base.jinja2" %}
{% block content %}
    <h2>Sanity check</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Rune</th>
                <th>Token Address</th>
                <th>Multisig Balance</th>
                <th>Token Supply</th>
                <th>Difference</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td>{{ entry["rune_name"] }}</td>
                    <td>
                        {% if entry["token"] %}
                            <code>{{ entry["token"]["address"] }}</code>
                        {% endif %}
                    </td>
                    <td>{{ entry["multisig_rune_balance"] }}</td>
                    <td>
                        {% if entry["token"] %}
                            {{ entry["token"]["supply"] }}
                        {% endif %}
                    </td>
                    <td>
                        {% if entry["difference"] %}
                            {{ entry["difference"] }}
                            <small>({{  entry["difference_pct"]|round(4) }} %)</small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
