{
    "bridge_btc_rpc_url": "http://polaruser:polarpass@bitcoind:18443",
    "bridge_evm_private_key": "0x1234",
    "bridge_secret_runes_evm_private_key": "0x1234",
    "bridge_secret_runes_btc_master_xpriv": "tprvsecret123",
    "bridge_secret_runes_btc_master_xpubs": "tpubsecret123"
}
